.dot_1 {
	fill-opacity: 0;
}

.dot_1 text {
	color: #3fc060;
	fill: #3fc060;
	fill-opacity: 1;
}
.dot_1 ellipse {
	stroke: #3fc060;
}

.dot_1 polyline {
	stroke: #3fc060;
}

.dot_1 polygon {
	stroke: #3fc060
}

.dot_1 path {
	stroke: #3fc060
}