.cell{
/* compensating the cell padding */
margin:-1px -7px;
padding:1px 7px;
}

.pink{
background-color:#fef;
}

.blue{
background-color:blue;
}

.green{
background-color:green;
}

.orange{
background-color:orange;
}

.lightblue{
background-color:lightblue;
}

.skyblue{
background-color:skyblue;
}

.lightskyblue{
background-color:lightskyblue;
}

.deepskyblue{
background-color:deepskyblue;
}

.lightgreen{
background-color:lightgreen;
}

.deepgreen{
background-color:#0E2215;
}

.good-grey{
background-color:#2e3440;
}